---
import Layout from '../../layouts/Layout.astro';
import { fetchArticle, fetchArticles } from '../../lib/strapi';
import StrapiBlocksRenderer from '../../components/StrapiBlocksRenderer.jsx';

export async function getStaticPaths() {
    const articles = await fetchArticles();
    return articles.map((article) => ({
        params: { slug: article.slug },
    }));
}

const { slug } = Astro.params;
const article = await fetchArticle(slug);
---

<Layout>
    <head>
        <meta charset="utf-8" />
        <title>{article.title}</title>
    </head>
    <article class="container mx-auto p-4">
        <h1 class="text-3xl font-bold mb-4">{article.title}</h1>
        <StrapiBlocksRenderer client:load content={article.content} />
    </article>
</Layout>